<html>
<head>
  <title>Note: Your Bookmarklet</title>
  {% include 'head.twig.html' %}
</head>
<body>
    <div class="container">
        <p class="instructions">
            Drag this to your bookmark bar:
        </p>
        <a class="button" href="javascript:(function(){window._note_bookmarklet_user_id='{{ hash }}';s=document.createElement('script');s.src='//note.hp.af.cm/js/note.min.js?r='+Math.random();document.body.appendChild(s);})();">Note</a>
        <p class="instructions">
            Click the bookmark to email yourself a link to the page you're on.
            <br/>
            You'll also get the page title and timestamp.
            <br/>
            If you highlight any text, that goes in the email too.
        </p>
    </div>
    {% include 'scripts.twig.html' %}
</body>
</html>
